body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
div{
    width: 800px;
    font-size: 22px;
    padding: 30px;
    margin: 10px 10px;
    text-align: center;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    display: inline-block;
    background-color: lightblue;
    cursor: pointer;
}

.active{
    box-shadow: 5px 5px 5px gray;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}
.radiuse{
    border-radius: 100%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.color{
    background-color: lightgreen;
    color: blue;
}

h1{
    font-size: 22px;
    padding: 30px;
    border: 1px solid gray;
    margin: 10px 10px;
    text-align: center;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    display: inline-block;
    background-color: rgb(213, 173, 230);
    cursor: pointer;
}
.box{
    background-color: lightgoldenrodyellow;
}